<mat-card *ngFor="let variant of variants">
	<mat-card-header>
		<div fxLayout="row wrap" fxLayoutAlign="space-around">
			<div flex="50%">Name: {{variant.name}}	</div>
			<div flex="50%">Full Name: {{variant.lname}}</div>
		</div>
	</mat-card-header>
	<mat-card-content>
		<mat-list>
			<mat-list-item *ngFor="let attr of variant.attrs|keyvalue">
				{{attr.key}}: {{attr.value}}
			</mat-list-item>
		</mat-list>
		<app-price [productId]="variant.product" [itemId]="variant.id" [priceType]="'VRT'" [isViewMode]="true"></app-price>
		<div fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="5px">
			<mat-card *ngFor="let item of variant?.assets?.imgs">
				<img mat-card-image [src]="item.img.src|safe" *ngIf="product.assets.imgs[0].img.src" alt="Product Image">
				<mat-card-actions>
				    <button mat-raised-button color="accent" (click)="removeImage(item)">Delete</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button color="primary" (click)="openVariantDialog(variant)">Edit</button>
	</mat-card-actions>
</mat-card>
<button mat-raised-button color="primary" (click)="openVariantDialog(null)">Add New Variant</button>