.mat-card{
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    max-width: 50%;
    @media only screen and (max-width: 600px) {
        min-width: 50%;
    }
    @media only screen and (min-width: 600px) {
        min-width: 33%;
    }
    @media only screen and (min-width: 768px) {
        min-width: 25%;
    }
    @media only screen and (min-width: 992px) {
        min-width: 20%;
    }

}

.img-container{
    overflow: hidden;
}

.cat-image{
    width: 100%;
    min-width: 50px;
    min-height: 50px;
    height: auto;
}

.container{
    padding: 16px;
}